<div class="card" style="width: 100%">
    <img src="assets\8fbba4e1-1227-4520-bcb6-52974cbea062-copy.jpg" class="card-img-top" alt="image not available">
    <div class="card-body">
        <p class="card-text">Exploring the roads of Uttara Kannada is lit, and Murudeshwara is one of the best places for tourist attraction and also for scooba diving in netrani islands</p>
    </div>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            More traveling info
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <h3>nearest airport : Hubli, Mangalore </h3>
            <h3>railway : murudeshwar railway station</h3>
            <h3>roads : situated near to NH66</h3>
        </div>
    </div>
</div>