
<div class="row carousel-size-fixed">
    <div id="carouselExampleCaptions" class="carousel carousel slide img-size" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="assets\b16b025b-3e31-4847-a98f-17bc1158890f-copy.jpg" class="d-block w-100 img-size"
            alt="Image not available">
          <div class="carousel-caption d-none d-md-block">
            <h3>Recent visit to Goa</h3>
            <h5>Explored the beautiful beaches and nature of Goa </h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets\c0be4800-65f4-41a7-b90c-05206fb6321b-copy.jpg" class="d-block w-100 img-size"
            alt="Image not available">
          <div class="carousel-caption d-none d-md-block">
            <h3>Last visit to Shivamogga</h3>
            <h5>Experienced beatiful nature places and took some blessing from holy places </h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets\685cfeae-4a39-415a-aaee-c7882759154c-copy.jpg" class="d-block w-100 img-size"
            alt="Image not available">
          <div class="carousel-caption d-none d-md-block">
            <h3>The coastal Karnataka</h3>
            <h5>Explored curvy roads of Mangalore and took dip into ocean in Netrani islands near Murudeshwara</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <div class="row py-4">
    <div class="col-md-4 py-4 d-flex justify-content-center">
      <div class="card card-size-custom border border-4">
        <img src="assets/abf7889e-d3e6-4160-964d-1a7fc5f89fb0-copy.jpg" class="card-img-top"
          alt="Image not available">
        <div class="card-body">
          <h5 class="card-title">Uttara Kannada</h5>
          <p class="card-text">Exploring the roads of Uttara Kannada is lit</p>
        </div>
        <div class="card-footer">
          <a href="/details" class="btn btn-primary">Explore </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-4 d-flex justify-content-center">
      <div class="card card-size-custom border border-4">
        <img src="assets\7512db95-25d5-4d5c-9f05-966ec79524dd.jpg" class="card-img-top" alt="Image not available">
        <div class="card-body">
          <h5 class="card-title">Kolhapur</h5>
          <p class="card-text">Mahalkshmi temple is one of the ancient temples in india and also Kolhapur is the best
            place to have spicy Maharastrian cuisine in the region </p>
        </div>
        <div class="card-footer">
          <a href="details" class="btn btn-primary">Explore </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-4 d-flex justify-content-center">
      <div class="card card-size-custom border border-4">
        <img src="assets\9f782c90-38dd-4fa1-b7d5-96c3987646bb.jpg" class="card-img-top" alt="Image not available">
        <div class="card-body">
          <h5 class="card-title">Badami</h5>
          <p class="card-text">Exploring the caves of badami and getting to know ancient rich history of culture feels
            proud</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Explore </a>
        </div>
      </div>
    </div>
  </div>